<%- include('../layouts/auth/header', {title: 'Order success'}) %>

<form method="post" action="reset_password">
    <h1 class="h3 mb-3 fw-normal text-center">Reset password</h1>
    <a href="login"><i class="px-1 bi bi-arrow-90deg-left"></i>Back to login</a>
    <div class="form-floating my-2">
        <input type="email" class="form-control" name="email" id="floatingInput" placeholder="E-Mail">
        <label for="floatingInput">E-Mail</label>
    </div>
    <% if (error){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>
    <% if (success) { %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
    <% } %>
    <% if (reset_token){ %>
        <div class="alert alert-danger" role="alert">
            <div class="text-danger">Just for testing purpose:</div>
            <a href="reset_password') %>?reset_token=<%= reset_token %>">Link to reset password</a>
        </div>
    <% } %>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Reset password</button>
</form>
<p class="mt-5 mb-3 text-center">Express Shop &copy; 2023</p>
<%- include('../layouts/auth/footer') %>