<%- include('../layouts/main/header', {title: 'Orders'}) %>
    <div class="p-2 border-bottom border-secondary">
        <h3>Your Orders</h3>
    </div>
    <% if (orders.length > 0){ %>
        <div class="">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tracking number</th>
                    <th scope="col">Payment method</th>
                    <th scope="col">status</th>
                    <th scope="col">Date</th>
                    <th scope="col">Total</th>
                </tr>
                </thead>
                <tbody>
                <% orders.forEach(function (order){ %>
                    <tr>
                        <th>
                            <a href="/users/<%= user.id %>/orders/<%= order.id %>">
                                <%= order.id %>
                            </a>
                        </th>
                        <td><%= order.number %></td>
                        <td><%= order.paymentmethod %></td>
                        <td><%= order.status %></td>
                        <td><%= order.created_at %></td>
                        <td><%= order.total_price %>$</td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    <% } else { %>
        <div class="alert alert-info py-4 my-4" role="alert">
            Your cart is empty, please add some products to your cart.
        </div>
    <% } %>
<%- include('../layouts/main/footer') %>
